<!-- Side Menu -->
<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">AgileMovieDB
        </li>
        <li><a href="#top">Home</a>
        </li>
        <li><a href="#searchAMDB">Search AMDB</a>
        </li>
        <li><a href="#workInProgress">What We're Working On</a>
        </li>
        <li><a href="#contact">Contact</a>
        </li>
    </ul>
</div>
<!-- /Side Menu -->

<!-- Full Page Image Header Area -->
<div id="top" class="header">
    <div class="vert-text">
        <h1>AgileMovieDB</h1>
        <h3>
            <em>We</em> Archive Ridiculously Awesome Movies,
            <em>You</em> Search Through Them.</h3>
        <a href="#searchAMDB" class="btn btn-primary btn-lg">Show Me the Movies</a>
    </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Intro -->
<div id="searchAMDB" class="searchAMDB" ui-view="search">
</div>
<!-- /Intro -->

<!-- Portfolio -->
<div id="workInProgress" class="workInProgress">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>Our Work</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <a href="#">
                        <img class="img-portfolio img-responsive" src="/assets/img/portfolio-1.jpg">
                    </a>
                    <h4>Cityscape</h4>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="portfolio-item">
                    <a href="#">
                        <img class="img-portfolio img-responsive" src="/assets/img/portfolio-2.jpg">
                    </a>
                    <h4>Is That On Fire?</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="portfolio-item">
                    <a href="#">
                        <img class="img-portfolio img-responsive" src="/assets/img/portfolio-3.jpg">
                    </a>
                    <h4>Stop Sign</h4>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="portfolio-item">
                    <a href="#">
                        <img class="img-portfolio img-responsive" src="/assets/img/portfolio-4.jpg">
                    </a>
                    <h4>Narrow Focus</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Portfolio -->

<!-- Map -->
<div id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
    </iframe>
</div>
<!-- /Map -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <ul class="list-inline">
                    <li><i class="fa fa-facebook fa-3x"></i>
                    </li>
                    <li><i class="fa fa-twitter fa-3x"></i>
                    </li>
                    <li><i class="fa fa-dribbble fa-3x"></i>
                    </li>
                </ul>
                <div class="top-scroll">
                    <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                </div>
                <hr>
                <p>Copyright &copy; AMDB 2013-2014</p>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->

<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
<script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>