<div class="container">
    <div class="row">
        <div class="form-inline">
            <form ng-submit="searchAMDB()" class="form-inline">
                <input type="text" class="form-control" placeholder="Enter the name of an actor or movie (or just the bits you remember)" style="width: 93%;" ng-model="searchText" />
                <input type="submit" class="btn btn-primary" value="Search" />
            </form>
        </div>
    </div>
    <div class="row">
        <br/>
    </div>
    <div class="row" style="background: white; opacity: 0.75" ng-if="searchResult !== null">
        <div class="col-md-4">
            <h3>Movies that contain '{{searchResult.searchText}}':</h3>
            <ul>
                <li ng-repeat="movie in searchResult.movies">{{movie.name}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>People that contain '{{searchResult.searchText}}':</h3>
            <ul>
                <li ng-repeat="person in searchResult.persons">{{person.displayName}}</li>
            </ul>
        </div>
    </div>
    <div class="row" style="background: white; color: red; font-weight: bolder; opacity: 0.75" ng-if="createdMovie !== null">
        {{createdMovie.name}} was created on {{createdMovie.createdAt}}!
    </div>
</div>
